.svg-container{
    fill: black;
}
.modebar-btn--logo{
    display: none;
}
[data-title="Pan"]{
    display: none;
}
[data-title="Toggle show closest data on hover"]{
    display: none;
}
/* [data-title="Box Select"]{
    display: none;
} */
[data-title="Lasso Select"]{
    display: none;
}
/* [data-title="Download plot as a png"]{
    display: none;
} */
body{
    background-color: black;
    /* overflow-x: hidden; */
}
#clickinfo{
    color: #ccc !important;
    margin-bottom: 20px;
}