*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.svg-container{
    fill: black;
}
.modebar-btn--logo{
    display: none;
}
[data-title="Pan"]{
    display: none;
}
[data-title="Toggle show closest data on hover"]{
    display: none;
}

[data-title="Lasso Select"]{
    display: none;
}
/* .geolayer .geo .bg{
    outline: 1px solid white;
} */
.legendtoggle {
    z-index: -900;
    outline: none;
}
/* [data-title="Box Select"]{
    display: none;
} */
[data-title="Lasso Select"]{
    display: none;

}
/* [data-title="Download plot as a png"]{
    display: none;
} */
body{
    background-color: black;
    overflow-x: hidden;
}
.hidden {
    display: none;
}
.section {
    display: flex;
}
#heading {
    color: white;
    background: #222;
    padding: 10px;
}
#tools {
    width: 10%;
    min-height: 100vh;
    color: white;
    background-color: #222;
}
#plots {
    width: 90%;
    min-height: 100vh;
    color: black;
    background-color: white;
}
#plot1 {
    /* display: none; */
    color: white;
}
#infoarea{
    width: 70%;
    margin: 0 auto;
}
#detail{
    color: #ccc !important;
    text-align: left;
    padding: 10px;
    border: 2px solid grey;
}
.btn {
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}

.btn:hover {
    background-color: blue;
    color: white;
}